.sideNavBar {
    width: 272px;
    height: 100vh;
    background-color: #2f0749;  /* Purple from the image */
    overflow-y: auto;  /* Allow scrolling if content exceeds the height */
    top: 0;
    left: 0;
}

.sidebarHeader {
    background-color: #461e61;  /* Purple from the image */
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    padding: 15px 20px;
    height: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Adding a little shadow for depth */
}

.dashboardButton {
    background-color: #461e61;  /* Deeper purple for the button */
    border: 5px;
    color: white;
    width: 90%;
    padding: 10px 10px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 40px;  /* For rounded corners */
    cursor: pointer;
    margin: 10px 10px 10px 10px;  /* Vertical spacing between items */
    transition: background-color 0.2s;
}

.dashboardButton:hover {
    background-color: #311b92;  /* Even deeper purple for hover effect */
}

.dashboardButton img {
    margin-right: 10px;  /* Spacing between icon and text */
    height: 24px;
    width: auto;
}
