.taskBox {
    padding: 20px 10px;
    position: relative;
    width: auto;
}

.contentWrapper {
    background-color: #ffffff;
    border: 1px solid #d4d4d4;
    border-radius: 8px;
    padding: 10px 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.task-card {
    height: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 10px;
    border: 1px solid #ddd;
    margin: 10px 0;
    font-size: x-small;
    position: relative;
}

.task-priority {
    margin-right: 10px;
}

.task-info {
    flex: 1; 
    flex: 1; 
    display: flex;
    align-items: center; 
    p {
        margin: 0;
    }
}

.status-button {
    display: flex;
    align-items: center; 
    gap: 10px;
    margin-left: 30px;
}

.date {
    font-size: 12px;
    margin-left: 10px; 
}

.status-btn {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.status-btn.done {
    background-color: green;
    color: white;
}

.status-btn.in-progress {
    background-color: orange;
    color: white;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: palevioletred;
    background-color: rgb(204, 174, 232);
    cursor: pointer;
}

.pagination-button.active {
    background-color: rgb(250, 220, 245);
    color: transparent;
    border: red;
}