.App {
  width: 100%;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.HeaderBar {
  width: calc(100% - 272px); /* Subtract the width of the sidebar */
  height: 50px;
  background-color: #333;
  color: white;
  margin-left: 272px; /* Push the header to the right by the width of the sidebar */
}
.mainContent {
  display: flex;
  flex-direction: row;
}
.SideNavBar {
  width: 272px;
  background-color: #555;
  color: white;
  padding: 20px;
  position: fixed; /* Make it stick to the left */
}
.content {
  flex: 1; /* takes up the rest of the horizontal space after the sidebar */
  padding: 0px;
  background-color: #eee;
}

.content-container{
  display: grid;
  grid-template-columns: 1fr 1fr; /* This will divide the content div into two equal parts */
  gap: 5px;
}