.App {
  width: 100%;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.HeaderBar {
  width: calc(100% - 272px); 
  height: 50px;
  background-color: #333;
  color: white;
  margin-left: 272px;
}
.mainContent {
  display: flex;
  flex-direction: row;
}
.SideNavBar {
  width: 272px;
  background-color: #555;
  color: white;
  padding: 20px;
  position: fixed;
}
.content {
  flex: 1;
  padding: 0px;
  background-color: #eee;
}

.content-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}